body {
  margin: 0 auto;
  padding: 10px;
  max-width: 302px;
}
h1 {
  color: red;
}
label {
  font-weight: 900;
  color: #5f9341;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 4px;
}
button {
  background-color: #5f9341;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 49.3%;
}
button:hover {
  cursor: pointer;
}
#delete-btn {
  background-color: red;
}
#tab-btn {
  background-color: white;
  color: green;
  border: 1px solid black;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}
a {
  color: rgb(11, 133, 11);
  font-weight: 700;
}
